@import '../../../scss/_structure.scss';
@import '../../../scss/_queries.scss';
@import '../../../scss/_vars.scss';

.page-wrap {
	padding-left: $page-gutter;
	padding-right: $page-gutter;
	max-width: 1820px;
	margin-left: auto;
	margin-right: auto;

	@include wide {
		padding-left: $base;
		padding-right: $base;
	}
}