ex_wp:
  image: wordpress
  links:
    - ex_wp_db:mysql
  ports:
    - 8080:80
  volumes:
    - ~/www/react-wp-rest/api:/var/www/html
ex_wp_db:
  image: mariadb
  environment:
    MYSQL_ROOT_PASSWORD: examplepass
phpmyadmin:
  image: corbinu/docker-phpmyadmin
  links:
    - ex_wp_db:mysql
  ports:
    - 8181:80
  environment:
    MYSQL_USERNAME: root
    MYSQL_ROOT_PASSWORD: examplepass
