@import '_vars';
@import '_structure';

%btn {
	transition: background ease-in-out 300ms;
	display: inline-block;
	background: linear-gradient(147deg, $blue, $green);
	color: white;
	padding: rem(.5) rem(1.5);
	position: relative;
	top: 0;
	vertical-align: middle;
	text-transform: uppercase;
	border: 0;
	border-radius: rem(.175);
	font-family: $font-brand;
	font-size: $body;
	letter-spacing: rem(.05);
	cursor: pointer;

	&:hover {
		background: linear-gradient(147deg, lighten($blue, 5%), lighten($green, 5%));
		color: white;
	}

	&:active, &:focus {
		outline: none;
	}

	&.arrow {
		padding: rem(.5) rem(1);

		&:after {
			content: '';
			display: inline-block;
			background-image: url('/images/icon-arrow-right-white.svg');
			margin-left: rem(.5);
			height: rem(.5);
			width: rem(.5);
			top: rem(.075);
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			left: 0;
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}

		&:hover {
			&:after {
				left: rem(.2);
			}
		}
	}
}

%text-cta {
	display: inline-flex;
	justify-content: space-after;
	align-items: center;

	&.white {
		color: white;

		&:after {
			background-image: url('/images/icon-arrow-right-white.svg');
		}
	}

	&.blue:after {
		background-image: url('/images/icon-arrow-right.svg');
	}

	&.back {
		margin-left: rem(.4);

		&:before {
			content: '';
			background-image: url('/images/icon-arrow-left.svg');
			margin-top: 4px;
			display: block;
			height: rem(.5);
			width: rem(.5);
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			right: .7em;
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}

		&:hover {
			&:before {
				opacity: .9;
				right: 1.3em;
			}
		}

		&:after {
			display: none;
		}
	}

	&:after {
		content: '';
		margin-top: 4px;
		display: block;
		height: rem(.5);
		width: rem(.5);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		left: .7em;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}

	&:hover {
		&:after {
			left: 1.3em;
		}
	}
}