@import '_structure';

/////////////////////////////
// GRID
/////////////////////////////

// Gutter
$gutter : rem(.5);
$cols   : 12;

/////////////////////////////
// ROWS
/////////////////////////////

@mixin row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -#{$gutter};
	margin-left: -#{$gutter};
}

/////////////////////////////
// COLUMN SETUP
/////////////////////////////

@mixin col($col) {
	margin-left: $gutter;
	margin-right: $gutter;
	width: calc(#{$col / $cols * 100 + %} - #{$base});
}

@mixin push($col) {
	margin-right: $gutter;
	margin-left: calc(#{$col / $cols * 100 + %} + #{$gutter});
}

@mixin pull($col) {
	margin-left: $gutter;
	margin-right: calc(#{$col / $cols * 100 + %} + #{$gutter});
}

@mixin break-row {
	display: block;
	margin-left: 0;
	margin-right: 0;

	> * {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
