@import '_structure';
@import '_vars';

/////////////////////////////
// HEADINGS
/////////////////////////////

%h1, %h2, %h3, %h4, %h5 {
    font-family: $font-brand;
    font-weight: 100;
}

%jumbo {
    font-size: rem(2.5);
    line-height: 1;
    margin: 0 0 rem(2);
}

%h1 {
	margin: 0 0 rem(1);
    font-size: rem(1.75);
    line-height: 1;
}

%h2 {
    margin: 0 0 rem(1);
    font-size: rem(1.25);
    line-height: 1.25;
}

%h3 {
    margin: 0 0 rem(1);
    font-size: rem(.9);
    line-height: 1.25;
}

%h4 {
    margin: 0 0 $base;
    font-size: rem(.75);
    line-height: 1.66;
}

%h5 {
    margin: 0 0 rem(1);
    font-size: rem(.55);
    line-height: 1.5;
}
