@import '_structure';

////////////////////////////////////
// FONTS
////////////////////////////////////

$font-body  : sans-serif;
$font-brand : sans-serif;

////////////////////////////////////
// COLORS
////////////////////////////////////

$green      	: #31AEA1;
$pink       	: #ff5764;
$black      	: #212121;
$orange			: #ff8a00;
$blue			: #007285;
$yellow    		: #F9C62D;
$red			: #FA7161;

// grays

$white-gray 	: #E8E8E8;
$light-gray		: #F0F0F0;
$gray       	: #666666;

////////////////////////////////////
// TRANSITIONS
////////////////////////////////////

$trans      : 300ms;

////////////////////////////////////
// STYLE
////////////////////////////////////



////////////////////////////////////
// REUSABLES
////////////////////////////////////


