@import '_vars';
@import '_queries';
@import '_structure';
@import '_type';

@import 'baseline.scss';
@import 'forms.scss';

/////////////////////////////
// DEFAULTS
/////////////////////////////

* {
	box-sizing: border-box;
}

body {
	font-family: $font-body;
	margin: 0;
	font-weight: 400;
	letter-spacing: rem(.035);
	color: $gray;
/*	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;*/
	overflow: hidden;
}

html {
	font-size: $body;
	line-height: $base;
	width: 100vw;
	overflow-x: hidden;

	@include desktop {
		font-size: 16px;
	}

	@include tablet {
		font-size: 15px;
		line-height: rem(.8);
	}

	@include mobile {
		font-size: 13px;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

::selection {
	background: $yellow;
	color: $black;
}

::-moz-selection {
	background: $yellow;
	color: $black;
}