@import '_structure';
@import '_buttons';
@import '_type';

h1 {
	@extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

p {
    margin: 0 0 $base;
}

ul {
    margin: 0 0 $base;
}

a {
	text-decoration: none;
	color: $blue;

	&:hover {
		color: lighten($blue, 10%);
	}

    *::selection {
        background-color:transparent;
    } 

    *::-moz-selection {
        background-color:transparent;
    }
    * {        
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        /*IE10*/
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }  
}

.btn {
	@extend %btn;
}

.text-cta {
	@extend %text-cta;
}