.btn {
  transition: background ease-in-out 300ms;
  display: inline-block;
  background: linear-gradient(147deg, #007285, #31AEA1);
  color: white;
  padding: 1.11111rem 3.33333rem;
  position: relative;
  top: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.38889rem;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 0.11111rem;
  cursor: pointer; }
  .btn:hover {
    background: linear-gradient(147deg, #00889f, #37c2b3);
    color: white; }
  .btn:active, .btn:focus {
    outline: none; }
  .arrow.btn {
    padding: 1.11111rem 2.22222rem; }
    .arrow.btn:after {
      content: '';
      display: inline-block;
      background-image: url("/images/icon-arrow-right-white.svg");
      margin-left: 1.11111rem;
      height: 1.11111rem;
      width: 1.11111rem;
      top: 0.16667rem;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      left: 0;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
    .arrow.btn:hover:after {
      left: 0.44444rem; }

.text-cta {
  display: inline-flex;
  justify-content: space-after;
  align-items: center; }
  .white.text-cta {
    color: white; }
    .white.text-cta:after {
      background-image: url("/images/icon-arrow-right-white.svg"); }
  .blue.text-cta:after {
    background-image: url("/images/icon-arrow-right.svg"); }
  .back.text-cta {
    margin-left: 0.88889rem; }
    .back.text-cta:before {
      content: '';
      background-image: url("/images/icon-arrow-left.svg");
      margin-top: 4px;
      display: block;
      height: 1.11111rem;
      width: 1.11111rem;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      right: .7em;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
    .back.text-cta:hover:before {
      opacity: .9;
      right: 1.3em; }
    .back.text-cta:after {
      display: none; }
  .text-cta:after {
    content: '';
    margin-top: 4px;
    display: block;
    height: 1.11111rem;
    width: 1.11111rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: .7em;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
  .text-cta:hover:after {
    left: 1.3em; }

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  font-weight: 100; }

h1 {
  margin: 0 0 2.22222rem;
  font-size: 3.88889rem;
  line-height: 1; }

h2 {
  margin: 0 0 2.22222rem;
  font-size: 2.77778rem;
  line-height: 1.25; }

h3 {
  margin: 0 0 2.22222rem;
  font-size: 2rem;
  line-height: 1.25; }

h4 {
  margin: 0 0 2.22222rem;
  font-size: 1.66667rem;
  line-height: 1.66; }

h5 {
  margin: 0 0 2.22222rem;
  font-size: 1.22222rem;
  line-height: 1.5; }

p {
  margin: 0 0 2.22222rem; }

ul {
  margin: 0 0 2.22222rem; }

a {
  text-decoration: none;
  color: #007285; }
  a:hover {
    color: #009eb8; }
  a *::selection {
    background-color: transparent; }
  a *::-moz-selection {
    background-color: transparent; }
  a * {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; }
